body {
    background:rgb(242, 186, 113);
}
h1 {
    color:rgb(255, 230, 245);
    text-align: center;
}
h2 {
    color:rgb(255, 235, 245);
    text-align: center;
}
h3 {
    text-align: left;
    word-spacing: 500px;
}